<div class="container w-50">
  <div class="form">
    <h2>Edit list</h2>

    <%= simple_form_for(@list) do |f| %>
      <%= f.input :name %>
      <%= f.input :poster, as: :file %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
