<div class="banner" style="background-image: url(<%= asset_url('movie-banner.jpeg') %>)">
  <div class="center">
    <h1>Save any kind of movies</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
  </div>
</div>

<div class="container">
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      Breakfast
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
      Lunch
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
      Dinner
    </div>

    <% @lists.each do |list| %>
      <%= link_to list do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/random)">
          <%= list.name %>
        </div>
      <% end %>
    <% end %>

  </div>
</div>
